[diff "sopsdiffer"]
	textconv = sops -d
[user]
	name = Nathan Warner
        email = nathan@frcv.net
[push]
	default = current
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	squash = reset $(git merge-base master $(git rev-parse --abbrev-ref HEAD))
[pull]
	rebase = false

[includeIf "gitdir:~/gitlab/"]
    path = ~/gitlab/.gitconfig
